ServerResponse = {};

ServerResponse.processResponse = function (ctx,e) {
    var parse = JSON.parse(e.data);
    switch (parse.no) {
        <%protocols.each{%>
        case ${it.id}: //${it.desc}
            ServerResponse.${it.protocolName}(ctx,JSON.parse(parse.data));
            break;
        <%}%>
    }
}